*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: rgb(0, 0, 0);
    min-height: 200vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: right;
    transition: 0.6;
    padding: 20px 50px;
    z-index: 100000;
    background-color: hsl(180, 25%, 3%, 0.5);
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    
}
:root {
    --primary: rgba(1, 1, 26, 0.788) ;
    --secondary: rgba(255, 255, 255, 0.527); 
}
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, var(--primary),var(--secondary)),
                url(IMAGES/BACKGROUND2.jpg) no-repeat center center;
    background-size: cover;
}
.container {
    position: relative;
    top: 50px;
    left: 100px;
    height: 750px;
    width: 600px;
    flex-basis: 30%;
}

.my_info {
    padding: 15px 0px;
    width: 90%;
    background-color: rgba(2, 1, 12, 0.952);
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px ;
    color: white;
}
.my_info h2 {
    font-weight: normal;
}
.my_info p {
    font-size: 14x;
    margin: 6px 0;
    line-height: 8pt;
}
.icons .fab {
    font-size: 30px;
    padding: 2px 8px;
}
.fa-facebook {
    color: #1d52bb ;
}
.fa-youtube {
    color: #ff0000 ;
}
.fa-github {
    color: #AD5C51 ;
}
.icons {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ;
}
.container:hover .icons {
    max-height: 100px;
}

.mypic  {
    position: absolute;
    height: 700px;
    top: 50px;
    max-width: 100%;
    border-radius: 50% 20% / 45% 35%;
    
    filter: grayscale(90%);
    transition: 1s;
    
}
.container:hover .mypic {
    transform: scale(1.05) rotate(-5deg);
    filter: grayscale(30%);
}