
/*============== GENERAL ==============*/
body {
    font-family: "Open sans", sans-serif;
    color: rgb(214, 164, 164);
    position: relative;
    background: transparent;
    background-color: rgb(29, 28, 28);
}
body::before {
    content: "";
    position: fixed;
    background-color: rgb(29, 28, 28);
    left: 0;
    background-size: cover;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}
@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}
a {
    color: rgb(128, 123, 123);
    text-decoration: none;
}
a:hover {
    color: rgb(128, 123, 123);
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    /*change font*/
    font-family: sans-serif;
}
/* ============== ID HEADER ==============*/
.bannerbox h1 span {
    background-color: rgb(0, 255, 98);
}
#idheader {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display:flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}
#idheader * {
    transition: ease-in-out 0.3s;
}
#idheader h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
#idheader h1 a,
#idheader h1 a:hover {
    color:rgb(0, 255, 98);
    line-height: 1;
    display: inline-block;
}
#idheader h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgb(0, 255, 98);
}
#idheader h2 span {
    color: rgb(128, 123, 123);
    padding-bottom: 6px;
}
#idheader h2 span:hover {
    color: rgb(0, 255, 98);
    padding-bottom: 6px;
}
#idheader .icons {
    margin-top: 40px;
    display: flex;
}
#idheader .icons a {
    /* ========= NOT PERMANENT COLOR =========*/
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(197, 178, 171, 0.1);
    color:rgb(128, 123, 123);
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#idheader .icons a:hover {
    background: cornflowerblue;  
}
/* =========== RESPONSIVE CODE ===========*/
@media (max-width: 992px) {
    #idheader h1 {
        font-size: 36px;
    }
    #idheader h2 {
        font-size: 20px;
        line-height: 30px;
    }
    #idheader .icons {
        margin-top: 15px;
    }
    #idheader .bannerbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* ================= NAVIGATION =================*/
.nav-menu {
    margin-top: -500px;
    margin-left: 144%;
    
}
.nav-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
.nav-menu li + li {
    margin-left: 30px;
    
}
.nav-menu a {
    display: block;
    position: relative;
    color: rgb(128, 123, 123);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
/* == BEFORE == */
.nav-menu a::before,
.nav-menu li:hover > a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color:rgb(255, 0, 0) ;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}
.nav-menu a:hover::before,
.nav-menu li:hover > a::before,
.nav-menu .active::before {
    visibility: visible;
    width: 25px;
}
.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
    color: rgb(128, 123, 123);
    text-decoration: none;
}
/* ====== FOR MOBILE PURPOSES ======
NEED TO FIND A WAY TO MAKE WEBSITE RESPONSIVE EVEN ON MOBILE PHONE */

/* SECTION 2 - ABOUT ME */
.aboutmebox {
    background-color: aquamarine;
}
