* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
/* ========== BANNER BACKGROUND ========== */
#banner {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(10, 9, 9);
    z-index: 1;
    position: relative;
}

/* ========== BANNER TEXT ========== */
.bannerbox {
    color: rgb(54, 228, 112);
    margin-right: 50px;
    position: relative;
    bottom: 30px;
    padding: 20px;
}
.bannerbox h1{
    color: transparent;
    font-size: 45px;
    position: relative;
    display: block;
    width: fit-content;
    animation: text_name_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
.bannerbox h1:nth-child(1) span {
    animation-delay: 1s;
}
.bannerbox h1:nth-child(2) span {
    animation-delay: 2s;
}
.bannerbox h1:nth-child(2) {
    animation-delay: 2.5s;
}

.bannerbox h1 span {
   top: 0;
   left: 0;
   height: 100%;
   width: 0;
   background-color: rgb(54, 228, 112);
   position: absolute;
   animation: name_reveal 1s ease;
   animation-delay: 1s;
}
.bannerbox p span {
    color: rgb(255, 255, 255);
}
.bannerbox p span:hover {
    color: rgb(54, 228, 112);
    transition: 0.5s;
}
.bannerbox p {
    font-size: 20px;
}
/* ========== BANNER TEXT ANIMATIOON ========== */
@keyframes name_reveal {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left:100%
    }
}
@keyframes text_name_reveal {
    100% {
        color: white;
    }
}

/* ========== MY PICTURE ========== */
.picbox {
    width: 600px;
    height: auto;
    top: 25px;
    position: relative;
}
.mypic {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
    filter: grayscale(90%);
    transition: 1s;
}
.mypic:hover {
    filter: grayscale(40%);
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
}
/* ========== MY ICONS ========== */
.icons {
    font-size: 40px;
    display: flex;
    margin-top: 20px; 
}
.icons a {
    color: rgb(54, 228, 112);
    
    padding-right: 20px;
}
/* ========== ABOUT ME ========== */
#aboutme {
    background-color: rgb(17, 15, 15);
    min-height: 80vh;
    position: relative;
    padding: 50px;
    width: auto;
    
}
.leftboxabout {
    width: 100px;
    height: auto;
}
.rightboxabout {
    width: 100px;
    height: auto;
}